<!--<div class="d-flex">
  <div class="border-right p-3" id="sidebar">
    <div>
      <a style="text-decoration: none" routerLink="docente-principal">
        <h3 class="text-light">
          Menu
          <img class="float-end" id="imgPerfil" src="https://cdn.icon-icons.com/icons2/2483/PNG/512/user_icon_149851.png">
        </h3>
      </a>
    </div>
    <hr>
    <div class="list-group list-reset">
      <button class="btn btn-primary text-dark button mb-4" routerLink="productos"><span>Productos</span></button>
      <button class="btn btn-primary text-dark button mb-4" routerLink="categorias"><span>Categorias</span></button>
      <button class="btn btn-primary text-dark button mb-4" routerLink="presentaciones"><span>Presentaciones</span></button>
      <button class="btn btn-primary text-dark button mb-4" routerLink="marcas"><span>Marcas</span></button>
      <button class="btn btn-primary text-dark button mb-4" routerLink="funciones"><span>Funciones</span></button>
      <button class="btn btn-primary text-dark button mb-4" routerLink="unidades-medida"><span>Unidades de Medida</span></button>
    </div>
  </div>
  <div class="container scroll cont">
    <router-outlet></router-outlet>
  </div>
</div>!-->
<div>
  <nav class="navbar navbar-dark fixed-top">
    <div class="container-fluid">
      <!--<a class="navbar-brand" href="#">Offcanvas dark navbar</a>!-->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
              aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasDarkNavbar"
           aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                  aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-start">
            <li class="nav-item">
              <button class="custom-btn btn-8 mb-4" routerLink="productos"><span>Productos</span></button>
            </li>
            <li class="nav-item">
              <button class="custom-btn btn-8 mb-4" routerLink="categorias"><span>Categorias</span></button>
            </li>
            <li class="nav-item">
              <button class="custom-btn btn-8 mb-4" routerLink="presentaciones"><span>Presentaciones</span></button>
            </li>
            <li class="nav-item">
              <button class="custom-btn btn-8 mb-4" routerLink="marcas"><span>Marcas</span></button>
            </li>
            <li class="nav-item">
              <button class="custom-btn btn-8 mb-4" routerLink="funciones"><span>Funciones</span></button>
            </li>
            <li class="nav-item">
              <button class="custom-btn btn-8 mb-4" routerLink="unidades-medida"><span>Unidades de Medida</span>
              </button>
            </li>

            <!--<li class="nav-item">
              <button class="btn btn-primary text-dark button mb-4" routerLink="productos"><span>Productos</span></button>
            </li>
            <li class="nav-item">
              <button class="btn btn-primary text-dark button mb-4" routerLink="categorias"><span>Categorias</span></button>
            </li>
            <li class="nav-item">
              <button class="btn btn-primary text-dark button mb-4" routerLink="presentaciones"><span>Presentaciones</span></button>
            </li>
            <li class="nav-item">
              <button class="btn btn-primary text-dark button mb-4" routerLink="marcas"><span>Marcas</span></button>
            </li>
            <li class="nav-item">
              <button class="btn btn-primary text-dark button mb-4" routerLink="funciones"><span>Funciones</span></button>
            </li>
            <li class="nav-item">
              <button class="btn btn-primary text-dark button mb-4" routerLink="unidades-medida"><span>Unidades de Medida</span></button>
            </li>!-->
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="container cont p-5">
    <router-outlet></router-outlet>
  </div>
</div>


