<div class="container mt-5" >
  <div class="text-center">
    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#productsModal" (click)="setNull()">
      Agregar Categoria
    </button>
  </div>
  <div class="mx-5 mt-5 fondo-tabla border border-2 border-dark rounded-2">
    <table bordered class="text-center table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Funcion</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr class="align-middle" *ngFor="let i of categorias;let j=index">
        <td>{{j}}</td>
        <td>{{i.nombre}}</td>
        <td>{{i.id_funcion.nombre}}</td>
        <td><button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#productsModal" (click)="updateCategoria(j)"><i class="bi bi-pencil-square"></i></button></td>
        <td><button class="btn btn-danger" (click)="deleteCategoria(i.id)"><i class="bi bi-trash3"></i></button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="productsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Categoria</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label>
          Nombre:
          <input type="text" class="ms-2" [(ngModel)]="nom">
        </label>
        <br><br>
        <label>
          Categoria:
          <select [(ngModel)]="func" class="ms-2" required>
            <option *ngFor="let i of funciones" [value]="i.id">{{i.nombre}}</option>
          </select>
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" (click)="createCategoria(nom)" data-bs-dismiss="modal">{{textButtonSubmit}}</button>
      </div>
    </div>
  </div>
</div>
