<div class="container mt-5" >
  <div class="text-center">
    <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#productsModal" (click)="setNull()">
      Agregar Presentacion
    </button>
  </div>
  <div class="mx-5 mt-5 fondo-tabla border border-2 border-dark rounded-2">
    <table bordered class="text-center table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Unidad de Nedida</th>
        <th>Medida</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr class="align-middle" *ngFor="let i of presentaciones;let j=index">
        <td>{{j}}</td>
        <td>{{i.nombre}}</td>
        <td>{{i.descripcion}}</td>
        <td>{{i.id_unidad_medida.unidad}}</td>
        <td>{{i.medida}}</td>
        <td><button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#productsModal" (click)="updatePresentacion(j)"><i class="bi bi-pencil-square"></i></button></td>
        <td><button class="btn btn-danger" (click)="deletePresentacion(i.id)"><i class="bi bi-trash3"></i></button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="productsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Presentacion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label>
          Nombre:
          <input type="text" class="ms-2" [(ngModel)]="nom">
        </label>
        <br><br>
        <label>
          <p>Descripcion:</p>
          <textarea required style="width: 20rem;height: 5rem" [(ngModel)]="desc"></textarea>
        </label>
        <br><br>
        <label>
          Unidad de Medida:
          <select [(ngModel)]="uni" class="ms-2" required>
            <option *ngFor="let i of unidades" [value]="i.id">{{i.unidad}}</option>
          </select>
        </label>
        <br><br>
        <label>
          Medida:
          <input type="number" class="ms-2" [(ngModel)]="med">
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" (click)="createPresentacion(nom,desc,parseFloat(med))" data-bs-dismiss="modal">{{textButtonSubmit}}</button>
      </div>
    </div>
  </div>
</div>
