<div class="container mt-5" >
  <div class="text-center">
    <button class="custom-btn btn-3" data-bs-toggle="modal" data-bs-target="#productsModal" (click)="setNull()">
      <span>Agregar Empleado</span>
    </button>
  </div>
  <div class="mx-5 mt-5">
    <table bordered class="text-center table table-striped border border-2 border-dark">
      <thead>
      <tr>
        <th>#</th>
        <th>Clave</th>
        <th>Nombre</th>
        <th>Username</th>
        <th>Puesto</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <tr class="align-middle trbody" *ngFor="let i of empleados;let j=index">
        <td>{{j}}</td>
        <td>{{i.clave}}</td>
        <td>{{i.nombre}}</td>
        <td>{{i.username}}</td>
        <td>{{i.id_puesto.nombre}}</td>
        <td><button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#productsModal" (click)="updateEmpleado(j)"><i class="bi bi-pencil-square"></i></button></td>
        <td><button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#productsModal" (click)="updatePassword(j)"><i class="bi bi-person-lock"></i></button></td>
        <td><button class="btn btn-danger" (click)="deleteEmpleado(i.clave)"><i class="bi bi-trash3"></i></button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="productsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Empleado</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex flex-column">
          <label *ngIf="!editarPass">
            Nombre Completo:
            <input type="text" class="ms-2" [(ngModel)]="nom" placeholder="Nombre" required>
          </label>
          <label *ngIf="!editarPass">
            Username:
            <input type="text" class="ms-2 my-2" [(ngModel)]="user" placeholder="Usuario" required>
          </label>
          <div *ngIf="!editar||editarPass">
            <label class="input-group">
              Password:
              <input [type]="fieldTextType?'text':'password'" class="form-control ms-2" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1"
                     style="max-width: 200px" [(ngModel)]="pass" required>
              <span class="input-group-text" id="basic-addon1" (click)="toggleFieldTextType()">
                <i *ngIf="!fieldTextType" class="bi bi-eye"></i>
                <i *ngIf="fieldTextType" class="bi bi-eye-slash"></i>
              </span>
            </label>
          </div>
          <label *ngIf="!editarPass">
            Puestos:
            <select [(ngModel)]="pues" class="ms-2 my-2" required>
              <option *ngFor="let i of puestos" [value]="i.id">{{i.nombre}}</option>
            </select>
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" (click)="createEmpleado(nom,user,pass)" data-bs-dismiss="modal">{{textButtonSubmit}}</button>
      </div>
    </div>
  </div>
</div>
