<div class="container mt-5">
  <div class="text-center">
    <button class="custom-btn btn-3" data-bs-toggle="modal" data-bs-target="#productsModal"
            (click)="setNull()">
      <span>Agregar Marca</span>
    </button>
  </div>
  <div class="mx-5 mt-5">
    <table bordered class="text-center table table-striped border border-2 border-dark">
      <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody class="table-group-divider">
      <tr class="align-middle trbody" *ngFor="let i of marcas;let j=index">
        <td>{{j}}</td>
        <td>{{i.nombre}}</td>
        <td>{{i.descripcion}}</td>
        <td>
          <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#productsModal"
                  (click)="updateMarca(j)"><i class="bi bi-pencil-square"></i></button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteMarca(i.id)"><i class="bi bi-trash3"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="productsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Marca</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label>
          Nombre:
          <input type="text" class="ms-2" [(ngModel)]="nom">
        </label>
        <br><br>
        <label>
          <p>Descripcion:</p>
          <textarea required style="width: 20rem;height: 5rem" [(ngModel)]="desc"></textarea>
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" (click)="createMarca(nom,desc)"
                data-bs-dismiss="modal">{{textButtonSubmit}}</button>
      </div>
    </div>
  </div>
</div>
